.grid {
  width: 800px;
  height: 800px;
  background-color: blue;
  position: relative;
}

.grid-block {
  width: 100px;
  height: 100px;
  position: absolute;
}

.grid-block-even {
  background-color: green;
}

.grid-block-odd {
  background-color: gray;
}
