.sum .grid {
  width: 800px;
  height: 800px;
  background-color: blue;
  position: relative;
}

.sum .grid-block {
  width: 200px;
  height: 200px;
  position: absolute;
}

.sum .grid-block-even {
  background-color: green;
}

.sum .grid-block-odd {
  background-color: gray;
}
